
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    @* <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
    <body>
        
        <p class="text-danger lead p-4 mt-3"> ADMIN PANEL  </p>
        
    </body>
</html>